/* STYLE FOR UNIVERSAL SELECTOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLE FOR BODY */
body {
    font-family: sans-serif;
    background: #446FE9;
    height: 100vh;
    display: grid;
    place-items: center;
}

/* STYLE FOR FORM */
form {
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
}

/* STYLE FOR INPUT */
input {
    padding: 10px 0px 10px 0;
    border: none;
    border-bottom: 1px solid #446FE9;
    outline: none;
}

input::placeholder {
    color: #446FE9;
}

/* STYLE FOR BUTTON */
button {
    padding: 10px 20px;
    margin-left: 20px;
    color: #446FE9;
    border: 1px solid #446FE9;
    cursor: pointer;
    border-radius: 7px;
    transition: all .2s ease;
}

button:active {
    transform: scale(0.9);
}